<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.codingsoldier.example.bootweb.mapper.DemocudrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.codingsoldier.example.bootweb.entity.Democudr">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="phone" property="phone" />
        <result column="money" property="money" />
        <result column="day_money" property="dayMoney" />
        <result column="date_of_birth" property="dateOfBirth" />
        <result column="luck_day" property="luckDay" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, phone, money, day_money, date_of_birth, luck_day, created_by, updated_by, created_time, updated_time, deleted
    </sql>


    <select id="pageQuery" resultType="com.github.codingsoldier.example.bootweb.vo.DemoCUDRPageVO">
        SELECT *
        FROM democudr
        <where>
            deleted = 0
            <if test="pageQueryDTO != null">
                <if test="pageQueryDTO.name != null and pageQueryDTO.name != ''">
                    AND name LIKE CONCAT('%',#{pageQueryDTO.name},'%')
                </if>
                <if test="pageQueryDTO.age != null">
                    AND age=#{pageQueryDTO.age}
                </if>
            </if>
            ORDER BY id DESC
        </where>
    </select>

</mapper>
