<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.codingsoldier.bootweb.temp222.mapper.DemoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.codingsoldier.bootweb.temp222.entity.Demo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="phone" property="phone" />
        <result column="date_of_birth" property="dateOfBirth" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, phone, date_of_birth, created_by, updated_by, created_time, updated_time, deleted
    </sql>


    <select id="pageQuery" resultType="com.github.codingsoldier.bootweb.temp222.vo.DemoPageVo">
        SELECT *
        FROM demo
        <where>
            deleted = 0
            <if test="pageQueryVo != null">
            </if>
            ORDER BY id DESC
        </where>
    </select>

</mapper>
